.#{$namespace}header{
    background-color: color(primary);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 rem(90);
    margin-bottom: rem(50);
    min-height: rem(90);

    &__left{
        max-width: 50%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    &__title{
        font-size: rem($text_size-01);
        color: color(yellow-01);
        text-transform: uppercase;
        &--ml{
            margin-left: rem(15);
        }
    }
    &__navegation{
        display: flex;
        align-items: stretch;
        &-list{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: stretch;

        }
        &-item{
            &:first-child{
                .#{$namespace}header{
                    &__navegation{
                        &-link{
                            border-left: none;
                        }
                    }
                }
            }
        }
        &-link{
            background: color(secondary);
            // background: color(yellow-02);
            display: flex;
            align-items: stretch;
            padding: rem(30) rem(20);
            font-size: rem($text_size-01);
            color: color(yellow-01);
            text-decoration: none;
            text-transform: uppercase;
            border-left: rem(1) solid color(primary);
            &:hover{
                text-decoration: underline;
                background-color: color(background-primary);
                color: color(button-bg);
            }
            &--active{
                background: color(background-primary);
                color: color(blue-01);
                &:hover{
                    cursor: inherit;
                    text-decoration: none;
                }
            }
        }
        &-text{
            align-self: center;
        }
    }
}

@include media-query('lg'){
    .#{$namespace}header{
        padding: 0 rem(40);
        flex-wrap: wrap;
        justify-content: flex-start;
        &__title{
            font-size: rem($text_size-03);
            flex-basis: 100%;
            margin-left: 0;
        }
        &__left{
            max-width: 45%;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}
@include media-query('md'){
    .#{$namespace}header{
        padding: 0 rem(30);
        flex-wrap: wrap;
        justify-content: flex-start;
        &__title{
            font-size: rem($text_size-04);
            flex-basis: 100%;
            margin-left: 0;
            display: inline;
        }
        &__left{
            max-width: inherit;
            flex-basis: 100%;
            flex-direction: column;
            justify-content: center;
            margin: rem(20) 0;
        }
        &__navegation{
            width: 100%;
            &-list{
                width: 100%;
                justify-content: center;
            }
            &-link{
                font-size: rem($text-size-03);
                padding-top: rem(10);
                padding-bottom: rem(10);
            }
        }
    }
}
@include media-query('mobile'){
    .#{$namespace}header{
        padding: 0 rem(20);
        flex-wrap: wrap;
        &__title{
            font-size: rem($text_size-04);
            flex-basis: 100%;
            margin-left: 0;
            text-align: center;
        }
        &__left{
            max-width: inherit;
            flex-basis: 100%;
            display: block;
            justify-content: flex-start;
            margin: rem(20) 0;
        }
        &__navegation{
            width: 100%;
            &-list{
                width: 100%;
                justify-content: center;
            }
            &-link{
                font-size: rem($text-size-04);
                padding-top: rem(10);
                padding-bottom: rem(10);
            }
        }
    }
}