.#{$namespace}layout {
    &__row {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        &--primary {
            padding: 0 rem(90);
        }
    }
    &--x-hidden {
        overflow-x: hidden;
        margin-bottom: rem(100);
    }
    &--basis-10 {
        flex-basis: remcalc(10%, " - ", 20px);
    }
    &--basis-20 {
        flex-basis: remcalc(20%, " - ", 20px);
    }
    &--basis-25 {
        flex-basis: remcalc(25%, " - ", 20px);
    }
    &--basis-30 {
        flex-basis: remcalc(30%, " - ", 20px);
    }
    &--basis-40 {
        flex-basis: remcalc(40%, " - ", 20px);
    }
    &--basis-50 {
        flex-basis: remcalc(50%, " - ", 20px);
    }
    &--basis-60 {
        flex-basis: remcalc(60%, " - ", 20px);
    }
    &--basis-70 {
        flex-basis: remcalc(70%, " - ", 20px);
    }
    &--basis-75 {
        flex-basis: remcalc(75%, " - ", 20px);
    }
    &--basis-80 {
        flex-basis: remcalc(80%, " - ", 20px);
    }
    &--basis-90 {
        flex-basis: remcalc(90%, " - ", 20px);
    }
    &--basis-100 {
        flex-basis: 100%;
    }
}

@include media-query('lg') {
    .#{$namespace}layout {
        &__row {
            &--primary {
                padding: 0 rem(40);
            }
        }
        &--basis-25 {
            flex-basis: remcalc(35%, " - ", 20px);
        }
        &--basis-75 {
            flex-basis: remcalc(65%, " - ", 20px);
        }
    }
}

@include media-query('md') {
    .#{$namespace}layout {
        &__row {
            &--primary {
                padding: 0 rem(30);
            }
        }
        &--basis-25 {
            flex-basis: remcalc(35%, " - ", 20px);
        }
        &--basis-75 {
            flex-basis: remcalc(65%, " - ", 20px);
        }
    }
}

@include media-query('mobile') {
    .#{$namespace}layout {
        &__row {
            &--primary {
                padding: 0 rem(20);
            }
        }
        &--basis-25 {
            flex-basis: 100%;
        }
        &--basis-75 {
            flex-basis: 100%;
        }
    }
}