.#{$namespace}heading{
    &--primary{
        font-size: rem($text_size-02);
        font-weight: bold;
        color: color(text-primary);
    }
    &--type-01{
        font-size: rem($text_size-03);
        color: color(blue-01);
    }
}