///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/

$color-map: (
    primary                         :   #0044AA ,
    secondary                       :   #FFCC00 ,
    white                           :   #f9f9f9 ,
    background-primary              :   #D5E5FF ,
    // button-bg                       :   #3771c8 ,
    button-bg                       :   #0044AA ,
    blue-01                         :   #2C5AA0 ,
    yellow-01                       :   #FFCC00 ,
    yellow-02                       :   #FFDD55 ,
    text-primary                    :   #0044AA 
);
