///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/

$color-map: (
    primary                         :   #5599FF ,
    secondary                       :   #FFCC00 ,
    white                           :   #f9f9f9 ,
    button-primary                  :   #d7192d ,
    background-primary              :   #D5E5FF ,
    blue-01                         :   #2C5AA0 ,
    blue-03                         :   #3771c8 ,
    yellow-01                       :   #FFDD55 ,
    yellow-02                       :   #0044AA ,
    text-primary                    :   #0044AA 
);
