
$separations: (
    '': rem($base_separation),
    -none: 0,
    -xxsmall: rem($base_separation - 12),    // 4
    -xsmall: rem($base_separation - 8),      // 8
    -normal: rem($base_separation - 6),      // 10
    -small: rem($base_separation - 2),       // 14
    -smedium: rem($base_separation + 4),     // 20
    -xmedium: rem($base_separation * 1.5),   // 24
    -medium: rem($base_separation * 2),      // 32
	-large: rem($base_separation * 2 + 8),   // 40
    -big: rem($base_separation * 3),         // 48
);