var paths = {
	build: 'build/',
	css: 'css/',
	css_wcs: 'css_wcs/',
	css_iframe:'css-iframe/',
	dist: 'dist/',
	dist_iframe: 'dist/iframe',
	temp: 'temp/',
	config: 'config/',
	build_bower: 'lib/',
	err: 'err/',
	js_src: ['src/*-lib.js','src/**/*-router-module.js','src/**/!(*-router-module.js)*-module.js','src/components/**/!(*-module.js)*.js'],
	test_src: ['test/unit/test*.js'],
	index: 'src/index.html',
	release: 'release/',
  release_src: ['build/!(*dev.js|lib)*'],
	sass_src: ['scss/**/*.scss','src/*-app.scss','src/components/**/*.sass','src/**/*.sass','src/components/**/*.scss','src/**/*.scss','!scss/**/ib-style-modules-wcs.scss','!scss/**/ib-dependencies.front'],
	sass_wcs_src: ['scss/**/*.scss','src/*-app.scss','src/components/**/*.sass','src/**/*.sass','src/components/**/*.scss','src/**/*.scss','!scss/**/ib-style-modules.scss','!scss/ib-bootstrap.scss','!scss/**/ib-dependencies.front'],
	sass_old_src: ['scss-old/ib-style-modules-old.scss'],
	template_src: ['src/components/**/!(*_dev.html)*.html'],
	package_src: 'build/**/!(*.map)*',
	resources_src: ['src/**/resources/*', 'bower_components/**/release/resources/*'],	
	images_src: ['src/**/images/*', 'bower_components/**/release/images/*'],
	fonts_src: ['src/fonts/*', 'bower_components/**/release/fonts/*'],
  lintReports: 'reports/lint/',
  htmlReports: 'reports/html/',
	reports: 'reports/',
	sass_watch: ['src/*-app.scss', 'src/modules.scss', 'src/**/*.scss'],
	css_src_mv: ['css/*.css'],
	css_src: ['css/*.css','!css/ib-style-modules-wcs.css'],
	css_src_dist: ['css/*.css','!css/ib-style-modules-wcs.css'],
	css_src_all: ['css/**/*.css'],
	css_src_wcs: ['css/*.css','!css/ib-style-modules.css'],
	css_src_iframe: ['css-iframe/*.css'],
  template_src: ['src/components/**/!(*_dev.html)*.html'],
	test_src: ['test/unit/test*.js'],
	all_tests_src: ['test/**/*.js', '!test/integration/stubs/**/*.js'],
	project_icons: 'src/fonts/',
	eva_icons: './node_modules/eva_icons/style/fonts/*'
};
module.exports = paths;
