/* GENERAL SIZES */

body{
    font-family: $font-normal;
    font-size: rem($base-font-size);
    background: color(background-primary);
    overflow-x: hidden;
}
a{
    &:visited{
        color: color(text-primary);
    }
}